*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  list-style:none;
}
body{
  background-color:#1f1f1f;
  color:#cccccc;
}
header{
  width: 100%;
  height: 80px;
  background-color: #31363b;
  box-shadow: 0px 0px 10px  #d7d658;
}
header img{
  height: 100%;
  padding: 10px;
}
header ul {
  height: 100%;
  line-height: 80px; /* Igual que la altura del header */
}
ul li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 17px;
}
h1{
  font-size:30px;
  padding: 10px;
  color:#d7d658;
}
article{
  height: 60px;
  padding: 10px;
}
article a {
  display: inline-block;
  line-height: 60px; /* Matches the height of the article to center vertically */
  vertical-align: middle;
  font-size: 18px;
  color: #cccccc;
}
article:hover{
  background-color:#31363b;
  opacity: 90%; 
}
footer{
  margin-top:20px;
}
footer ul li{
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  font-size: 11px;
}
footer ul{
  height: 100%;
  line-height: 50px;
  background-color:#31363b;
  opacity: 70%;
  text-align: center;
}
footer img{
  height: 100%;
  padding:15px;
}