  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    outline:none;
  }

  .colors{
    color:#6d597a;
    color:#b56576;
    color:#eaac8b;
    color:#fff;
    color:#000;
  }
  body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

  }
  header{
    background-color: #6d597a;
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }
  main{
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 110px); 
  }
  main aside,section{
    display: inline-block;
    vertical-align:middle;
  }
  aside{
    width: 20%;
    height: 100%;
    background-color:#b56576;
    padding: 10px;
  }
  aside nav{  
    height: 100%;
  }
  aside nav ul li{
    padding: 10px;
  }
  aside nav ul li a{
    color:#000;
  }
  section {
    height: 100%;
    width: 80%; 
    text-align: center;
    padding: 10px 20px;
    line-height: 50%;
  }
  
  .card {
    display: inline-block;
    height: 70px;
    width: 50%;
    background-color: #eaac8b;
    line-height: 70px;
    text-align: center;
    outline: solid 3px white;
  }
  .card:nth-child(1),
  .card:nth-child(2){
    margin: calc(50vh - 145px) 0 13px 0;

    }
  
  footer{
    background-color: #6d597a;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }